
mbkautheVar={ 
            "APP_NAME": "chatapi", 
            "SESSION_SECRET_KEY": "", 
            "IS_DEPLOYED": "f", //False for local development, true for production if you want cross sub-domain cookies
            "LOGIN_DB": "postgres://<username>:<password>@<host>:<port>/<database>", 
            "MBKAUTH_TWO_FA_ENABLE": "true", 
            "COOKIE_EXPIRE_TIME": 2, 
            "DOMAIN": "mbktech.org", // your domain here
            "loginRedirectURL": "/admin" 
}
NEON_POSTGRES=postgres://<username>:<password>@<host>:<port>/<database>

#Remove comments and fill in the values before using, and remove all spaces in mbkautheVar like:
#mbkautheVar={"APP_NAME":"chatapi","SESSION_SECRET_KEY":"","IS_DEPLOYED":"f","LOGIN_DB":"postgres://<username>:<password>@<host>:<port>/<database>","MBKAUTH_TWO_FA_ENABLE":"true","COOKIE_EXPIRE_TIME":2,"DOMAIN":"mbktech.org","loginRedirectURL":"/dashboard/posts"}

GEMINI_API_KEY=
GROQ_API_KEY=
SAMBANOVA_API_KEY=

CEREBRAS_API_KEY=